.p-over {
    color: red;
    font-size: 300%;
    line-height: 200%;

}



.up-down {
    background-color: rgb(43, 255, 0);
    transform: rotate(2160deg);
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}



.blackout {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s ease-in;
}

.blackout p {
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}